header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #00680c;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    margin-left: 10px;
}

.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  
  .login-form,
  .signup-form {
    width: 300px; 
    padding: 20px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }